.activities_list {
    width: min(100vw, 320px);
}

.activities_list > * {
    margin-bottom: 5px;
}

.brow1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.brow1 >*:first-child {
    margin-right: 5px;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.btn {
    align-items: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -88px)
}